/ .sidebar-info-box
/   .sidebar-header
/     %h3.title Recently Updated
/   .sidebar-content
/     - Group.recently_updated(5).each do |group|
/       =link_to group.name, group_path(group)
<<<<<<< HEAD
/ 


=======
/
>>>>>>> upstream/master
.sidebar-info-box
  .sidebar-header
    %h3.title Editing Policy
  .sidebar-content
    %p 
      DGD is a community directory, so feel free to edit any page you feel you can improve. Remember, your name is permanently
      attached to any content you contribute to DGD.

<<<<<<< HEAD
.sidebar-info-box
  .sidebar-header
    %h3.title Suggested Organizations
  .sidebar-content
    %ol
    %li= link_to @random.name.sub(/Dartmouth /,"").truncate(40), group_path(@random), {:style => add_color(@random)}
    %li= link_to @random2.name.sub(/Dartmouth /,"").truncate(40), group_path(@random2), {:style => add_color(@random2)}
    %li= link_to @random3.name.sub(/Dartmouth /,"").truncate(40), group_path(@random3), {:style => add_color(@random3)}


.sidebar-info-box
  .sidebar-header
    %h3.title Leaderboard
  .sidebar-content
    %ol.leaderboard
      - if @leaderboard
        - @leaderboard[0..4].each do |descriptions|
          %li= descriptions.first.user.name
    %p= link_to "More", leaderboard_group_index_path

=======
/ .sidebar-info-box
/   .sidebar-header
/     %h3.title Leaderboard
/   .sidebar-content
/     %ol.leaderboard
/       - if @leaderboard
/         - @leaderboard[0..4].each do |descriptions|
/           %li= descriptions.first.user.name
/     %p= link_to "More", leaderboard_group_index_path
>>>>>>> upstream/master

- if @current_user.try(:admin)
  = render :partial => "sidebar/section/admin_toc"
